.cart-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.cart-container {
  height: 100vh;
  width: 500px;
  max-width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  z-index: 100;
  background-color: white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  .cart-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    gap: 2px;
    margin-left: 10px;
    border: none;
    background-color: transparent;

    .heading {
      margin-left: 10px;
    }

    .cart-num-items {
      margin-left: 10px;
      color: #f02d34;
    }
  }

  .cart-bottom {
    position: absolute;
    bottom: 12px;
    right: 5px;
    width: 100%;
    padding: 30px 65px;
  }

  .cart-product-container {
    margin-top: 1rem;
    overflow: auto;
    height: 70vh;
    padding: 1rem;

    .cart-product {
      display: flex;
      flex-direction: row;
      margin: 2rem 0;
      border-radius: 1rem;
      background-color: #fff;

      .image {
        display: flex;
        height: 100%;
        width: 25%;
        border-radius: inherit;

        img {
          border-radius: inherit;
          height: 125px;
          width: 100%;
          object-fit: cover;
        }
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        margin-left: 2rem;
        flex-direction: column;

        .title-price,
        .qty-remove {
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
        }

        .title-price {
          gap: 1rem;
          align-items: flex-start;

          .price {
            font-size: 1.2em;
          }
        }

        .qty-remove {
          align-items: center;

          button {
            width: 35px;
            height: 35px;
            color: #f02d34;
          }
        }
      }
    }
  }
}