// IMPORTS, VARIABLES, MIXIN
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap");

@mixin transition($seconds) {
  transition: all $seconds linear;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background: #f1f3f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

img {
  user-select: none;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75;
}

.main-container {
  // max-width: 1400px;
  // margin: auto;
  // margin: 3rem auto auto auto;
  width: 100%;
}

.layout {
  // padding: 0 2rem;
}

.hero-banner-container {
  padding: 100px 40px;
  background-color: #dcdcdc;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;
}

.hero-banner-container .beats-solo {
  font-size: 20px;
}

.hero-banner-container button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  z-index: 10000 !important;
}

.hero-banner-container h3 {
  font-size: 4rem;
  margin-top: 4px;
}

.hero-banner-container h1 {
  color: white;
  font-size: 10em;
  margin-left: -20px;
  text-transform: uppercase;
}

.hero-banner-image {
  position: absolute;
  bottom: 0%;
  left: 50%;
  right: calc(50% + 0px);
  transform: translate(-50%, 0);
  /* width: 450px; */
  width: auto;
  height: 100%;
  object-fit: contain;
}

.desc {
  position: absolute;
  right: 10%;
  bottom: 5%;
  width: 300px;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  color: #324d67;
}

.desc p {
  color: #5f5f5f;
  font-weight: 100;
  text-align: end;
}

.desc h5 {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  /* color: black; */
  align-self: flex-end;
}

.products-heading {
  text-align: center;
  margin: 40px 0px;
  color: #1d1d1b;
}

.footer-banner-container {
  padding: 100px 40px;
  background-color: #f02d34;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1;
  color: white;
  width: 100%;
  margin-top: 120px;
}

.banner-desc {
  display: flex;
  justify-content: space-between;
}

.banner-desc button {
  border-radius: 15px;
  padding: 10px 16px;
  background-color: white;
  color: red;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.banner-desc .left h3 {
  font-weight: 900;
  font-size: 80px;
  margin-left: 25px;
}

.banner-desc .left p {
  margin: 18px;
}

.footer-banner-image {
  position: absolute;
  /* top: -35%;
  left: 8%; */
  bottom: 0;
  left: 25%;
  height: 100%;
  width: auto;
}

.banner-desc .right {
  line-height: 1.4;
}

.banner-desc .right h3 {
  font-weight: 800;
  font-size: 60px;
}

.banner-desc .right p {
  font-size: 18px;
}

.banner-desc .right .company-desc {
  font-size: 14px;
  font-weight: 300;
}

.cart-wrapper {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  /* will-change: transform; */
  transition: all 1s ease-in-out;
}

.cart-container {
  height: 100vh;
  width: 600px;
  background-color: white;
  float: right;
  padding: 1.5rem 1rem;
  position: relative;
}

.footer-container {
  color: #1d1d1b;
  text-align: center;
  margin-top: 20px;
  padding: 30px 10px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.footer-container .icons {
  font-size: 30px;
  display: flex;
  gap: 10px;
}

.cart-heading {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  gap: 2px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.cart-heading .heading {
  margin-left: 10px;
}

.cart-num-items {
  margin-left: 10px;
  color: #f02d34;
}

.empty-cart {
  margin: 40px;
  text-align: center;
}

.empty-cart h3 {
  font-weight: 600;
  font-size: 20px;
}

.cancel {
  cursor: pointer;
}

.product-container {
  margin-top: 15px;
  overflow: auto;
  max-height: 70vh;
  padding: 20px 10px;
}

.product {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.product .cart-product-image {
  width: 150px;
  height: 180px;
  border-radius: 15px;
  background-color: #ebebeb;
  object-fit: cover;
}

.item-desc .flex {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: #324d67;
}

.item-desc .bottom {
  margin-top: 60px;
}

.flex h5 {
  font-size: 24px;
}

.flex h4 {
  font-size: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
}

.total h3 {
  font-size: 22px;
}

.remove-item {
  font-size: 24px;
  color: #f02d34;
  cursor: pointer;
  background: transparent;
  border: none;
}

.cart-bottom {
  position: absolute;
  bottom: 12px;
  right: 5px;
  width: 100%;
  padding: 30px 65px;
}

.btn-container {
  width: 400px;
  margin: auto;
}

.btn {
  width: 100%;
  max-width: 400px;
  padding: 10px 12px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: #f02d34;
  color: #fff;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.btn:hover {
  transform: scale(1.1, 1.1);
}

.product-detail-container {
  display: flex;
  gap: 40px;
  margin: 40px;
  margin-top: 60px;
  color: #324d67;
}

.product-detail-image {
  border-radius: 15px;
  background-color: #ebebeb;

  width: 400px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  object-fit: contain;
}

.product-detail-image img {
  border-radius: 15px;
}

.product-detail-image:hover {
  background-color: #ebc2c2;
}

.small-images-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.small-image {
  border-radius: 8px;
  background-color: #ebebeb;
  width: 70px;
  height: 70px;
  cursor: pointer;
  object-fit: cover;
}

.selected-image {
  background-color: #f02d34;
  object-fit: cover;
}

.reviews {
  color: #f02d34;
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.product-detail-desc h4 {
  margin-top: 10px;
}

.product-detail-desc p {
  margin-top: 10px;
}

.reviews p {
  color: #324d67;
  margin-top: 0px;
}

.product-detail-desc .price {
  font-weight: 700;
  font-size: 26px;
  margin-top: 30px;
  color: #f02d34;
}

.price .old-price,
.product-price .old-price,
.price .old-price {
  color: gray;
  text-decoration: line-through;
}

.product-detail-desc .quantity {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  align-items: center;
}

.product-detail-desc .buttons {
  display: flex;
  gap: 30px;
}

.buttons .add-to-cart {
  padding: 10px 20px;
  border: 1px solid #f02d34;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  color: #f02d34;
  cursor: pointer;
  width: 200px;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .add-to-cart:hover {
  transform: scale(1.1, 1.1);
}

.buttons .buy-now {
  width: 200px;

  padding: 10px 20px;
  background-color: #f02d34;
  color: white;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.buttons .buy-now:hover {
  transform: scale(1.1, 1.1);
}

.quantity-desc {
  border: 1px solid gray;
  padding: 6px;
}

.quantity-desc span {
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
}

.quantity-desc .minus {
  border-right: 1px solid gray;
  color: #f02d34;
}

.quantity-desc .num {
  border-right: 1px solid gray;
  font-size: 20px;
}

.quantity-desc .plus {
  color: rgb(49, 168, 49);
}

.max-qty {
  font-weight: 500;
  color: #f02d34;
}

.success-wrapper,
.cancel-wrapper {
  background-color: white;
  min-height: 60vh;
}

.success,
.cancel {
  width: 1000px;
  margin: auto;
  margin-top: 160px;
  background-color: #dcdcdc;
  padding: 50px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success .icon {
  color: green;
  font-size: 40px;
}

.success h2 {
  text-transform: capitalize;
  margin-top: 15px 0px;
  font-weight: 900;
  font-size: 40px;
  color: #324d67;
}

.success .email-msg {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cancel p {
  font-size: 20px;
  font-weight: 600;
}

.success .description {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

.success .description .email {
  margin-left: 5px;
  color: #f02d34;
}

.product-max-qty {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .hero-banner-container {
    height: 560px;
  }

  .hero-banner-image {
    width: 77%;
    height: 62%;
    top: 25%;
    right: -6%;
  }

  .footer-banner-container {
    height: 560px;
    margin-top: 80px;
  }

  .footer-banner-image {
    width: 73%;
    left: 20%;
    bottom: 0;
    /* top: 6%; */
    height: auto;
    object-fit: contain;
  }

  .banner-desc .left h3 {
    font-weight: 900;
    font-size: 50px;
    margin-left: 5px;
  }

  .banner-desc .left p {
    margin: 18px;
  }

  .banner-desc .right h3 {
    font-size: 45px;
  }

  .banner-desc .right p {
    font-size: 18px;
  }

  .banner-desc .right .company-desc {
    font-size: 14px;
  }

  .banner-desc {
    flex-wrap: wrap;
    gap: 20px;
  }

  .hero-banner-container {
    line-height: 1.3;
  }

  .hero-banner-container h1 {
    font-size: 50px;
  }

  .hero-banner-container h3 {
    font-size: 40px;
  }

  .hero-banner-container button {
    margin-top: 90px;
    z-index: 10000;
  }

  .desc {
    bottom: 60px;
  }

  .product-detail-container {
    flex-wrap: wrap;
  }

  .product-detail-container .product-detail-image {
    width: 350px;
    height: 350px;
  }

  .cart-container {
    width: 415px;
    padding: 4px;
  }

  .cart-heading {
    margin: 15px 10px;
  }

  .product-container {
    margin-top: 10px;
  }

  .product {
    padding: 20px 5px;
  }

  .product .cart-product-image {
    width: 25%;
    height: 25%;
  }

  .buttons .add-to-cart {
    width: 150px;
  }

  .buttons .buy-now {
    width: 150px;
  }

  .product-detail-container {
    margin: 20px;
  }

  .item-desc .flex {
    width: 200px;
  }

  .top {
    flex-wrap: wrap;
    gap: 10px;
  }

  .item-desc .bottom {
    margin-top: 30px;
  }

  .flex h5 {
    font-size: 16px;
    color: #324d67;
  }

  .flex h4 {
    font-size: 16px;
    color: black;
  }

  .cart-bottom {
    padding: 30px;
  }

  .total h3 {
    font-size: 20px;
  }

  .track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
  }

  .success-wrapper,
  .cancel-wrapper {
    min-height: 69vh;
  }

  .success,
  .cancel {
    width: 370px;
    margin-top: 100px;
    padding: 20px;
  }

  .success {
    height: 350px;
  }

  .success h2 {
    font-size: 17px;
  }

  .btn-container {
    width: 300px;
    margin: auto;
  }
}

// APP
.app__container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
}

// SWIPER
.swiper {
  --swiper-theme-color: #f1f3f5;
  height: 100%;

  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 12px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 12px)
    );
    background: #f1f3f5;
  }
}

// NAVBAR
._navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  // box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  // position: sticky;
  // top: 0;
  z-index: 3;

  ._navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 130px;
      height: 28px;

      @media screen and (min-width: 2000px) {
        width: 180px;
        height: 40px;
      }
    }
  }

  .cart-icon {
    font-size: 25px;
    color: #f56f74;
    cursor: pointer;
    position: relative;
    transition: transform 0.4s ease;
    border: none;
    background-color: transparent;
  }

  .cart-icon:hover {
    transform: scale(1.1, 1.1);
  }

  .cart-item-qty {
    position: absolute;
    right: -8px;
    font-size: 12px;
    color: #eee;
    background-color: #f02d34;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    font-weight: 500;
  }
}

// MARQUEE
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  min-height: 70vh;
  overflow-x: hidden;

  .track {
    position: absolute;
    will-change: transform;
    animation: marquee 8s linear infinite;
    width: 180%;

    &:hover {
      animation-play-state: paused;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

.maylike-products-wrapper {
  margin-top: 120px;

  h2 {
    text-align: center;
    margin: 50px;
    color: #324d67;

    font-size: 28px;
  }
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

// PRODUCT-CARDS
._products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

._product-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 1rem;

  div {
    color: #1d1d1b;
  }

  ._product-item {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin-bottom: 1.5rem;
    border-radius: 16px;
    border: 1px solid transparent;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    box-shadow: 0 0 12px 0 rgb(34 34 34 / 7%);

    &:hover {
      border: 1px solid #e6e9ed;
      box-shadow: 0 0 24px 0 rgb(34 34 34 / 10%);

      ._product-item-license {
        transition: transform 0.25s ease;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
      }

      ._product-item-image img {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
      }

      ._product-item-license::before {
        -webkit-transition: opacity 0.5s ease;
        -webkit-transition-delay: 0.25s;
        -moz-transition: opacity 0.5s ease 0.25s;
        -o-transition: opacity 0.5s ease 0.25s;
        transition: opacity 0.5s ease 0.25s;
        opacity: 1;
        background-image: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 0%,
          black 100%
        );
      }
    }
  }

  ._product-item-image {
    display: block;
    padding-bottom: 140%;
    position: relative;
    background-color: #e6e9ed;
    overflow: hidden;
    position: relative;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    img {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      -webkit-transition: -webkit-transform 0.5s ease;
      -moz-transition: -moz-transform 0.5s ease;
      -o-transition: -o-transform 0.5s ease;
      transition: transform 0.5s ease;
    }
  }

  ._product-item-license {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.25s ease;
    -webkit-transition-delay: 0.1s;
    -moz-transition: -moz-transform 0.25s ease 0.1s;
    -o-transition: -o-transform 0.25s ease 0.1s;
    transition: transform 0.25s ease 0.1s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 100px;
      bottom: 0;
      z-index: 0;
      -webkit-transition: opacity 0.5s ease;
      -moz-transition: opacity 0.5s ease;
      -o-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
      opacity: 0;
      background-image: linear-gradient(
        -180deg,
        rgba(0, 0, 0, 0) 0%,
        black 100%
      );
    }

    img {
      max-height: 100px;
      position: relative;
      z-index: 1;
    }
  }

  ._product-item-content {
    background: white;
    padding: 24px 24px;
    padding: 1.5rem 1.5rem;
    position: relative;
    z-index: 2;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    ._item-titles {
      font-size: 1rem;
      text-align: center;

      .surtitle {
        font-weight: 600;
        font-size: 0.625rem;
        text-transform: uppercase;
      }

      .title {
        @include transition(0.3s);

        font-weight: 700;
        line-height: 1.5;
        font-size: 1.2rem;
      }

      .subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.75rem;

        font-weight: 300;
        font-size: 0.625rem;
        text-transform: uppercase;

        img {
          width: auto;
          max-height: 55px;
          object-fit: contain;
          margin-right: 1rem;
        }
      }
    }

    ._item-price {
      @include transition(0.3s);

      font-weight: 300;
      font-size: 1.125rem;
      text-transform: uppercase;
      margin-top: 1.5rem;
      text-align: center;

      span {
        margin-left: 5px;
        font-size: 0.75rem;
        color: #797979;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    width: 33.3333%;
  }

  @media screen and (max-width: 600px) {
    width: 85%;

    ._product-item {
      border: 1px solid #e6e9ed;
      box-shadow: 0 0 24px 0 rgb(34 34 34 / 10%);
    }

    ._product-item-license {
      -webkit-transition: -webkit-transform 0.25s ease;
      -moz-transition: -moz-transform 0.25s ease;
      -o-transition: -o-transform 0.25s ease;
      transition: transform 0.25s ease;
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      transform: translateY(-100px);
    }

    ._product-item-license::before {
      -webkit-transition: opacity 0.5s ease;
      -webkit-transition-delay: 0.25s;
      -moz-transition: opacity 0.5s ease 0.25s;
      -o-transition: opacity 0.5s ease 0.25s;
      transition: opacity 0.5s ease 0.25s;
      opacity: 1;
      background-image: linear-gradient(
        -180deg,
        rgba(0, 0, 0, 0) 0%,
        black 100%
      );
    }
  }
}

.marquee {
  ._product-wrapper {
    min-width: 200px;
  }
}

// PRODUCT-DETAILS
.product-details {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // margin-top: 4.2rem;

  .image,
  .details {
    @include transition(0.3s);
    height: 100%;
    display: flex;
    width: 50%;
  }

  .image {
    // background: #dfdfdf;
    max-height: 100vh;
    align-items: flex-start;
    justify-content: center;

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  .details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .inner {
      @include transition(0.3s);
      width: 75%;
      position: relative;

      .category {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: #424550;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;

        svg {
          @include transition(0.3s);
          margin-right: 0.5rem;
        }

        &:hover svg {
          margin-right: 1rem;
        }
      }

      p {
        font-size: 1rem;
        color: #424550;
        font-weight: 300;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }

      .qty-price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .qty {
          display: flex;
          align-items: center;
          user-select: none;

          .amount {
            width: 1rem;
            text-align: center;
          }

          .add,
          .minus {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 1rem 1rem;
            height: 2rem;
            width: 2rem;

            cursor: pointer;
            border-radius: 50%;
            border: 1px solid #282828;
          }

          .minus {
            margin-left: 0;
          }

          .disabled {
            background: #dfdfdf;
            color: #787878;
            border: none;
            cursor: default;
          }
        }

        .price {
          color: #282828;
          font-weight: 700;
          font-size: 1.4rem;
          user-select: none;
        }
      }

      .btn-row {
        @include transition(0.3s);

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 3rem;

        button {
          cursor: pointer;
          height: 48px;
          padding: 0 3rem;
          border: none;
          border-radius: 8px;

          font-size: 0.875rem;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 0.06rem;

          @media screen and (max-width: 900px) {
            width: 100%;
            padding: 0;
          }
        }

        .add-to-cart {
          background: #2d89fa;
          color: #fff;
          margin-right: 24px;
        }

        .subscribe {
          background: transparent;
          background: #d3d3d3;
          color: #424550;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    width: 100%;

    .image,
    .details {
      width: 100%;
    }

    .details {
      padding: 2rem 3rem;

      .inner {
        width: 100%;
      }
    }
  }
}
