._products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

._product-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 1rem;

  div {
    color: #1d1d1b;
  }

  ._product-item {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: relative;
    margin-bottom: 1.5rem;
    border-radius: 16px;
    border: 1px solid transparent;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    box-shadow: 0 0 12px 0 rgb(34 34 34 / 7%);

    &:hover {
      border: 1px solid #e6e9ed;
      box-shadow: 0 0 24px 0 rgb(34 34 34 / 10%);

      ._product-item-license {
        transition: transform 0.25s ease;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
      }

      ._product-item-image img {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
      }

      ._product-item-license::before {
        -webkit-transition: opacity 0.5s ease;
        -webkit-transition-delay: 0.25s;
        -moz-transition: opacity 0.5s ease 0.25s;
        -o-transition: opacity 0.5s ease 0.25s;
        transition: opacity 0.5s ease 0.25s;
        opacity: 1;
        background-image: linear-gradient(
          -180deg,
          rgba(0, 0, 0, 0) 0%,
          black 100%
        );
      }
    }
  }

  ._product-item-image {
    display: block;
    padding-bottom: 140%;
    position: relative;
    background-color: #e6e9ed;
    overflow: hidden;
    position: relative;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    img {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;

      -webkit-transition: -webkit-transform 0.5s ease;
      -moz-transition: -moz-transform 0.5s ease;
      -o-transition: -o-transform 0.5s ease;
      transition: transform 0.5s ease;
    }
  }

  ._product-item-license {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.25s ease;
    -webkit-transition-delay: 0.1s;
    -moz-transition: -moz-transform 0.25s ease 0.1s;
    -o-transition: -o-transform 0.25s ease 0.1s;
    transition: transform 0.25s ease 0.1s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 100px;
      bottom: 0;
      z-index: 0;
      -webkit-transition: opacity 0.5s ease;
      -moz-transition: opacity 0.5s ease;
      -o-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
      opacity: 0;
      background-image: linear-gradient(
        -180deg,
        rgba(0, 0, 0, 0) 0%,
        black 100%
      );
    }

    img {
      max-height: 100px;
      position: relative;
      z-index: 1;
    }
  }

  ._product-item-content {
    background: white;
    padding: 24px 24px;
    padding: 1.5rem 1.5rem;
    position: relative;
    z-index: 2;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    ._item-titles {
      font-size: 1rem;
      text-align: center;

      .surtitle {
        font-weight: 600;
        font-size: 0.625rem;
        text-transform: uppercase;
      }

      .title {
        @include transition(0.3s);

        font-weight: 700;
        line-height: 1.5;
        font-size: 1.2rem;
      }

      .subtitle {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0.75rem;

        font-weight: 300;
        font-size: 0.625rem;
        text-transform: uppercase;

        img {
          width: auto;
          max-height: 55px;
          object-fit: contain;
          margin-right: 1rem;
        }
      }
    }

    ._item-price {
      @include transition(0.3s);

      font-weight: 300;
      font-size: 1.125rem;
      text-transform: uppercase;
      margin-top: 1.5rem;
      text-align: center;

      span {
        margin-left: 5px;
        font-size: 0.75rem;
        color: #797979;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    width: 33.3333%;
  }

  @media screen and (max-width: 600px) {
    width: 85%;

    ._product-item {
      border: 1px solid #e6e9ed;
      box-shadow: 0 0 24px 0 rgb(34 34 34 / 10%);
    }

    ._product-item-license {
      -webkit-transition: -webkit-transform 0.25s ease;
      -moz-transition: -moz-transform 0.25s ease;
      -o-transition: -o-transform 0.25s ease;
      transition: transform 0.25s ease;
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      transform: translateY(-100px);
    }

    ._product-item-license::before {
      -webkit-transition: opacity 0.5s ease;
      -webkit-transition-delay: 0.25s;
      -moz-transition: opacity 0.5s ease 0.25s;
      -o-transition: opacity 0.5s ease 0.25s;
      transition: opacity 0.5s ease 0.25s;
      opacity: 1;
      background-image: linear-gradient(
        -180deg,
        rgba(0, 0, 0, 0) 0%,
        black 100%
      );
    }
  }
}

.marquee {
  ._product-wrapper {
    min-width: 200px;
  }
}

// MARQUEE
.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    min-height: 70vh;
    overflow-x: hidden;
  
    .track {
      position: absolute;
      will-change: transform;
      animation: marquee 8s linear infinite;
      width: 180%;
  
      &:hover {
        animation-play-state: paused;
      }
    }
  
    @keyframes marquee {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
  }
  
  .maylike-products-wrapper {
    margin-top: 120px;
  
    h2 {
      text-align: center;
      margin: 50px;
      color: #324d67;
  
      font-size: 28px;
    }
  }
  
  .maylike-products-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }