.product-details {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // margin-top: 4.2rem;

  .image,
  .details {
    @include transition(0.2s);
    height: 100%;
    display: flex;
    width: 50%;
  }

  .image {
    // background: #dfdfdf;
    max-height: 100vh;
    align-items: flex-start;
    justify-content: center;

    img {
      height: 100%;
      width: auto;
      object-fit: cover;
    }
  }

  .details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .inner {
      @include transition(0.3s);
      width: 75%;
      position: relative;

      .category {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: #424550;
        font-weight: 500;
        text-align: center;
        width: 100%;
        margin-bottom: 1rem;

        svg {
          @include transition(0.3s);
          margin-right: 0.5rem;
        }

        &:hover svg {
          margin-right: 1rem;
        }
      }

      p {
        font-size: 1rem;
        color: #424550;
        font-weight: 300;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }

      .qty-price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .qty {
          display: flex;
          align-items: center;
          user-select: none;

          .amount {
            width: 1rem;
            text-align: center;
          }

          .add,
          .minus {
            display: flex;
            justify-content: center;
            align-items: center;

            margin: 1rem 1rem;
            height: 2rem;
            width: 2rem;

            cursor: pointer;
            border-radius: 50%;
            border: 1px solid #282828;
          }

          .minus {
            margin-left: 0;
          }

          .disabled {
            background: #dfdfdf;
            color: #787878;
            border: none;
            cursor: default;
          }
        }

        .price {
          color: #282828;
          font-weight: 700;
          font-size: 1.4rem;
          user-select: none;
        }
      }

      .btn-row {
        @include transition(0.3s);

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 3rem;

        button {
          cursor: pointer;
          height: 48px;
          padding: 0 3rem;
          border: none;
          border-radius: 8px;

          font-size: 0.875rem;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 0.06rem;

          @media screen and (max-width: 900px) {
            width: 100%;
            padding: 0;
          }
        }

        .add-to-cart {
          background: #2d89fa;
          color: #fff;
          margin-right: 24px;
        }

        .subscribe {
          background: transparent;
          background: #d3d3d3;
          color: #424550;
        }
      }
    }
  }

  // tablets
  @media (max-width: 900px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .image {
      height: 60%;

      img {
        height: auto;
        width: 100%;
      }
    }
  }

  // tablets and phones
  @media screen and (max-width: 900px) {
    flex-direction: column;
    width: 100%;

    .image,
    .details {
      width: 100%;
    }

    // less space for image, more for details
    // .image {
    //   height: 50vh;

    //   img {
    //     height: auto;
    //     width: 100%;
    //   }
    // }

    .details {
      justify-content: flex-start;
      padding: 1rem 3rem;

      .inner {
        width: 100%;
      }
    }
  }
}
