.works-container {
  flex-grow: 1;
  width: 100%;

  .works {
    max-height: 100%;
    width: 100%;
    text-align: center;
    padding: 2rem;

    img {
        width: auto;
        height: 150px;
        -o-object-fit: contain;
        object-fit: contain;
    }
  }
}
